<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    mybatisPlus 配置之基本配置     -->
<!--    

    - 在application.properties 指定mp全局配置文件
    mybatis-plus.config-location=classpath:mybatis-config.xml

-->
    

</configuration>